/* ---------------------------------------
    全体のレイアウトとデザイン調整
------------------------------------------ */
/* 全体的な大枠のレイアウト */

.c_accordion summary {
    align-items: center;
}

.accordion__title {
    margin-right: auto;
}


/* デザイン調整 */

.accordion__content-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.c_accordion__content {
    font-size: 1.25rem;
}

/* アコーディオン開閉時のアイコンの挙動 */

.c_accordion__plus {
    display: block;
}

.c_accordion details[open]>summary .c_accordion__plus {
    display: none;
}

.c_accordion__minus {
    display: none;
}

.c_accordion details[open]>summary .c_accordion__minus {
    display: block;
}