/* ---------------------------------------
    全体のレイアウトとデザイン調整
------------------------------------------ */

/* 全体的な大枠のレイアウト */
.c-collection-list .c-card__inner {
    position: relative;
}


@media screen and (max-width: 990px) {
    .c-collection-list .c-collection-list__list {
        justify-content: center;
        gap: 30px;
    }
}

@media screen and (max-width: 990px) {
    .c-collection-list .c-collection-list__item {
        max-width: 250px;
        width: 230px;
        height: auto;
    }
}

@media screen and (max-width: 620px) {
    .c-collection-list .c-collection-list__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        column-gap: 10px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 490px) {
    .c-collection-list .c-collection-list__item {
        max-width: 180px;
        min-width: 100px;
        width: 100%;
    }
}

.c-collection-list .c-card__content {
    position: absolute;
    bottom: 0;
    right: 0;
}

.c-collection-list .c-card__information {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.c-collection-list .c-card__heading a {
    display: flex;
    align-items: center;
}

.c-collection-list .c-card__heading a .c-icon-wrap {
    display: block;
    margin-left: auto;
    margin-right: 5px;
}

@media screen and (max-width: 490px) {
    .c-collection-list .c-card__heading a .c-icon-wrap {
        width: 15px;
        height: 15px;
    }
}

.c-collection-list .c-all-collection-button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

@media screen and (max-width: 750px) {
    .c-collection-list .c-all-collection-button__wrapper {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 490px) {
    .c-collection-list .c-all-collection-button__wrapper {
        margin-top: 15px;
        gap: 5px;
    }
}



/* デザイン調整 */

.c-collection-list .c-card__media .media {
    border-radius: 10px;
    overflow: hidden;
}

.c-collection-list .c-card__media .media img {
    border-radius: inherit;
    overflow: hidden;
}

.c-collection-list .c-card__heading a {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 490px) {
    .c-collection-list .c-card__heading a {
        font-size: 1.25rem;
    }
}

.c-collection-list .c-card__heading a .c-icon-wrap {
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: #FF8A00;
}

@media screen and (max-width: 490px) {
    .c-collection-list .c-card__heading a .c-icon-wrap {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 490px) {
    .c-collection-list .c-card__heading a .c-icon-wrap svg {
        width: 1rem;
        height: 1rem;
    }
}

.c-collection-list .c-all-collection-button__wrapper .c-all-collection-button__text {
    font-size: 0.85em;
    font-weight: 500;
    color: #1A2421;
}

.c-collection-list .c-all-collection-button__button {
    width: 190px;
    height: 55px;
    padding: 20px 75px;
    display: grid;
    place-content: center;
    border-radius: 40px;
    border: 3px solid #FF8A00;
    background: #FF8A00;
    color: #FFF;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

@media screen and (max-width: 490px) {
    .c-collection-list .c-all-collection-button__button {
        width: 150px;
        height: 40px;
        padding: 10px 30px;
        color: #FFF;
    }
}

.c-collection-list .c-all-collection-button__button:hover {
    background: #ffffff;
    color: #333;
    border: 3px solid #FF8A00;
}

.c-collection-list .c-all-collection-button__link {
    font-weight: bold;
    font-size: 1.75rem;
    white-space: nowrap;
}

/* リンクのマスク */
/* 
c-card__innerを基準に、aタグの上に透明なマスクを配置。
クリック可能な範囲を広げた。
*/

.c-collection-list .c-card__inner {
    position: relative;
}

.c-collection-list .c-card__overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: block;
}
