/* ---------------------------------------
    全体のレイアウトとデザイン調整
------------------------------------------ */

.c-main-collection-product-grid .c-main-collection-product-grid__list {
    row-gap: 70px;
    /* margin-bottom: 70px; */
}

.c-main-collection-product-grid .c-card__information {
    display: flex;
    flex-direction: column;
}

.c-main-collection-product-grid .c-quick-add {
    margin-top: auto;
}

.c-main-collection-product-grid .c-nutrition-wrapper {
    margin-top: .3em;
}

.c-main-collection-product-grid .c-nutrition-item:last-of-type {
    /* 下のmarginは、dividerより上のタグに持たせる。 */
    margin-bottom: .3em;
}

@media screen and (max-width: 480px) {

    .c-main-collection-product-grid .c-nutrition-item:first-of-type {
        margin-bottom: .3em;
    }
}

.c-main-collection-product-grid .c-nutrition-item {
    display: flex;
    align-items: center;
}

.c-main-collection-product-grid .c-nutrition-item svg {
    width: 25px;
    margin-right: .5em;
}

.c-main-collection-product-grid .c-nutrition-text {
    font-size: .875em;
}

.c-main-collection-product-grid .c-custom-card__price-area {
    margin-top: 1em;
    margin-bottom: 1em;
}

.c-main-collection-product-grid .c-price_text,
.c-main-collection-product-grid .c-subscription-notice {
    margin: 0;
    line-height: 1.5;
    font-size: .875em;
}

@media screen and (max-width: 480px) {

    .c-main-collection-product-grid .c-price_text,
    .c-main-collection-product-grid .c-subscription-notice {
        font-size: .75em;
    }
}

.c-main-collection-product-grid .c-custom-card__divider {
    margin: 0;
}

/* ---------------------------------------
    フォントの指定
------------------------------------------ */

.c-card__information .c-card-info__additional-title {
    font-size: 1.25rem;
}

.c-card__information .c-custom-card__desc-area {
    line-height: 1.2;
    font-size: .825em;
}

@media screen and (max-width: 900px) {
    .c-card__information .c-custom-card__desc-area {
        font-size: .75em;
    }
}

/* バッジの配置 */
.c-card__information .c-card__badge {
    position: absolute;
    z-index: 2;
}

.c-card__information .c-card__badge--top-left {
    top: 10px;
    left: 10px;
    bottom: auto;
    right: auto;
}

.c-card__information .c-card__badge--top-right {
    top: 10px;
    right: 10px;
    bottom: auto;
    left: auto;
}

.c-card__information .c-card__badge--bottom-left {
    bottom: 10px;
    left: 10px;
    top: auto;
    right: auto;
}

.c-card__information .c-card__badge--bottom-right {
    bottom: 10px;
    right: 10px;
    top: auto;
    left: auto;
}

/* 定期購入アプリのUIをコレクションページでは非表示 */

.c-main-collection-product-grid .sealsubs-container,
.c-main-collection-product-grid .sls-select-container,
.c-main-collection-product-grid .sls-option-container,
.c-main-collection-product-grid .sls-discount-description {
    display: none !important;
}