/* ---------------------------------------
    全体のレイアウト
------------------------------------------ */

.c-main-product.page-width {
    max-width: 95% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media screen and (max-width: 749px) {
    .c-main-product.page-width {
        max-width: 100% !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

.c-main-product .c-product__info-container {
    max-width: 600px;
    width: 100%;

}

.c-main-product .product-variant-picker {
    display: grid;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.c-main-product .product-variant-picker>.product-form__input--pill {
    margin: 0;
}

.c-main-product .c-product-media-gallery {
    box-shadow: none;
}

/* ---------------------------------------
    レビューテキストのスタイル
------------------------------------------ */

.c-main-product .c-dummy-review {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.c-main-product .c-dummy-review__inner {
    display: flex;
    gap: 2px;
}

.c-main-product .c-dummy-review__text {
    font-size: 14px;
    color: #333;
    letter-spacing: 0.05em;
}

/* ---------------------------------------
    商品タイトルのスタイル
------------------------------------------ */

.c-main-product .c-product__title {
    margin: 0;
    padding: 0;
}

.c-main-product .c-product__title-heading {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    margin: 0;
    line-height: 1.2;
}

.c-main-product .c-product__title-link {
    text-decoration: none;
    color: inherit;
}

.c-main-product .c-product__text {
    margin-top: 0;
}

/* ---------------------------------------
    商品タグのスタイル
------------------------------------------ */

/* コンテナの設定（タグが複数ある場合の整列） */
.c-main-product .c-product__tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}

/* タグのシンプルな共通スタイル */
.c-main-product .c-product__tag-item {
    display: inline-block;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    background-color: #ffffff;
    border: 2px solid #d1d1d1;
    border-radius: 6px;
    line-height: 1.4;
}

/* ---------------------------------------
    画像ポップアップの表示部分のスタイル
------------------------------------------ */


.c-main-product .c-product-popup-modal__opener {
    margin-top: 0;
    margin-bottom: 16px;

}

.c-main-product .c-product-popup-modal__button {
    padding-right: 0;
    cursor: pointer;
    text-decoration: underline;
}

.c-product-image-popup-modal .c-product-popup-modal__content-info {
    padding: 20px;
}

.c-product-image-popup-modal .c-product-popup-modal__content-info img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: block;
    border-radius: 4px;
    object-fit: cover;
}

.c-product-image-popup-modal modal-dialog.product-popup-modal {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.c-product-image-popup-modal .product-popup-modal__content {
    background-color: #ffffff !important;
    border: none !important;
    border-radius: 12px !important;
}

.c-product-image-popup-modal .c-product-popup-modal__toggle {
    background: #FF8A00;

}


/* ---------------------------------------
    スペーサー
------------------------------------------ */
/* liquidファイルに直接記述 */


/* ---------------------------------------
    購入ボタンのスタイル
------------------------------------------ */
.c-main-product .c-product-form {
    width: 100%;
    display: inline-block;
}

.c-main-product .c-product-form__buttons {
    width: 100%;
    margin: 0 auto;
}

.c-main-product .c-product-form__buttons button {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}


.c-product-form .c-product-form__submit {
    background-color: #111111 !important;
    color: #ffffff !important;
    border-radius: 50px !important;
    transition: all 0.3s ease;
}

.c-product-form .product-form__buttons .c-product-form__submit:not([disabled]):hover {
    background-color: #FF8A00 !important;
    color: #FFFFFF !important;
    border: 1px solid #ffad4e !important;
    box-shadow: none;
}

.c-product-form .c-product-form__buttons .c-product-form__submit[disabled],
.c-product-form .c-product-form__buttons .c-product-form__submit[aria-disabled="true"] {
    background-color: #e9e9e9 !important;
    color: #888888 !important;
    border: 1px solid #e9e9e9 !important;
    cursor: not-allowed;
}

.c-product-form .c-payment-methods-wrapper {
    text-align: center;
    margin-top: 12px;
}

.c-product-form .c-payment-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.c-product-form .c-payment-icons li {
    display: block;
    width: auto;
    height: auto;
}


.c-product-form .c-loading__spinner::after {
    border: none;
}


.product-form__buttons .product-form__submit,
.product-form__buttons .product-form__submit::before,
.product-form__buttons .product-form__submit::after {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    --border-offset: 0px !important;
    --border-opacity: 0 !important;
}

.product-form__buttons .product-form__submit:focus,
.product-form__buttons .product-form__submit:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

/* ---------------------------------------
    バリエーションピッカーのスタイル
------------------------------------------ */

.c-main-product .product-form__input--pill {
    margin-bottom: 0;
}

/* ---------------------------------------
    シッピングバーのスタイル
------------------------------------------ */

.c-main-product .c-shipping-bar {
    margin-bottom: 16px;
}

.c-main-product .c-shipping-bar__inner {
    max-width: 600px;
    margin: 0 auto 16px;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #4D8412;

}

.c-main-product .c-shipping-bar__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.3;
    color: #FFFFFF;
}

.c-main-product .c-shipping-bar__icon {
    color: #FFFFFF;
}