/* -------------------------------
   全体のレイアウトとスタイルの調整
--------------------------------- */
/* レイアウト */

.c-testimonials__content {
    position: relative;
    /* margin-right: calc(50% - 50vw); */
    padding-right: 0;
}

@media screen and (max-width: 1200px) {
    .c-testimonials__content {
        position: static;
        top: initial;
        left: initial;
        display: flex;
        flex-direction: column;
    }
}

.c-testimonials .splide__track {
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .c-testimonials .splide__track {
        margin-top: 30px;
    }
}

/* デザインの調整 */

.c-testimonials .c-testimonials__title-wrapper {
    text-align: center;
}

.c-testimonials .c-splide__slide {
    width: 400px;
    height: 560px;
}

.c-testimonials .c-splide__slide {
    position: relative;
}

.c-testimonials .c-testimonials__textarea {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 5;
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
}

.c-testimonials .c-testimonials__textarea p {
    line-height: 1.5;
    color: #FFF;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
}

.c-testimonials__image {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
    pointer-events: none;
}

/* 矢印 */

.c-testimonials .c-splide__buttons--url {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    /* height: 50px; */
}

.c-testimonials .c-testimonials__wrapper .c-splide__buttons--blank {
    margin-left: auto;
    margin-right: 50px;
}

.c-testimonials .c-splide__arrows {
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 0;
}

.c-testimonials .c-splide__arrow {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    appearance: none;
}


.c-testimonials .c-splide__arrow svg {
    width: 30px;
    height: 30px;
}

.c-testimonials .c-splide__arrow--prev {
    transform: scaleX(-1);
}

.c-testimonials .c-splide__all-view-button {
    width: 190px;
    height: 54px;
    padding: 20px 74px;
    display: grid;
    place-content: center;
    text-decoration: none;
    border-radius: 40px;
    border: none;
    background: #FF8A00;
    color: #FFF;
    transition: background 0.3s ease;
    white-space: nowrap;
}

.c-testimonials .c-splide__all-view-button:hover {
    background: #4D8412;
    border: 3px solid #FF8A00;
    opacity: 0.9;
}

/* ページネーション */

.c-testimonials .splide__pagination {
    position: static;
    margin-top: 24px;
}

.c-testimonials .splide__pagination__page {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: #F5EDE7;
    margin: 8px;
}

@media screen and (max-width: 750px) {
    .c-testimonials .splide__pagination__page {
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

.c-testimonials .splide__pagination__page.is-active {
    background: #434343;
    transform: scale(1);
    z-index: 1;
}

@media screen and (min-width: 1201px) {
    body img.c_splide__click-prompt {
        display: none !important;
    }
}

@media screen and (max-width: 460px) {
    body .c-testimonials .splide__arrows>img.c_splide__click-prompt {
        display: none !important;
    }
}